In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('J:/링크경로한양도성/TM_P1_POLYGON_20211014_hanyang_all_EIT_5_15_60_fromtolink_6leveljoin.csv')
df

C:\Users\hyorim\AppData\Local\Temp\ipykernel_14748\2201195125.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('J:/링크경로한양도성/TM_P1_POLYGON_20211014_hanyang_all_EIT_5_15_60_fromtolink_6leveljoin.csv')

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,source,out_time2,in_time2,diff,speed,hour,diff2,out_time3,EIT15,EIT60
0,0,105020211014002115225S00,1.0,3.0,5.717441e+10,2021-10-14 00:21:28,2021-10-14 00:21:31,11000.0,11010.0,1101063.0,...,0.0,2021-10-14 00:21:31,2021-10-14 00:21:28,3,40.800000,0,0.000833,2021-10-14 00:21:00,2021-10-14 00:15:00,2021-10-14 00:00:00
1,1,105020211014002115225S00,1.0,7.0,5.717171e+10,2021-10-14 00:21:40,2021-10-14 00:21:52,11000.0,11010.0,1101067.0,...,0.0,2021-10-14 00:21:52,2021-10-14 00:21:40,12,35.700000,0,0.003333,2021-10-14 00:21:00,2021-10-14 00:15:00,2021-10-14 00:00:00
2,2,105020211014002115225S00,1.0,12.0,5.717352e+10,2021-10-14 00:23:31,2021-10-14 00:23:39,11000.0,11010.0,1101071.0,...,0.0,2021-10-14 00:23:39,2021-10-14 00:23:31,8,50.400000,0,0.002222,2021-10-14 00:23:00,2021-10-14 00:30:00,2021-10-14 00:00:00
3,3,105020211014002115225S00,1.0,17.0,5.717249e+10,2021-10-14 00:24:20,2021-10-14 00:24:36,11000.0,11080.0,1108061.0,...,0.0,2021-10-14 00:24:36,2021-10-14 00:24:20,16,51.975000,0,0.004444,2021-10-14 00:24:00,2021-10-14 00:30:00,2021-10-14 00:00:00
4,4,105020211014002115225S00,1.0,18.0,5.717249e+10,2021-10-14 00:24:37,2021-10-14 00:24:39,11000.0,11080.0,1108061.0,...,0.0,2021-10-14 00:24:39,2021-10-14 00:24:37,2,37.800000,0,0.000556,2021-10-14 00:24:00,2021-10-14 00:30:00,2021-10-14 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4927887,4927887,105520211014225942879S00,1.0,181.0,4.778415e+10,2021-10-14 23:44:59,2021-10-14 23:46:30,31000.0,31101.0,3110154.0,...,0.0,2021-10-14 23:46:30,2021-10-14 23:44:59,91,1.265934,23,0.025278,2021-10-14 23:46:00,2021-10-14 23:45:00,2021-10-14 23:00:00
4927888,4927888,105520211014225942879S00,1.0,182.0,4.778102e+10,2021-10-14 23:46:31,2021-10-14 23:46:54,31000.0,31101.0,3110154.0,...,0.0,2021-10-14 23:46:54,2021-10-14 23:46:31,23,36.469565,23,0.006389,2021-10-14 23:46:00,2021-10-14 23:45:00,2021-10-14 23:00:00
4927889,4927889,105520211014225942879S00,1.0,184.0,4.778419e+10,2021-10-14 23:47:01,2021-10-14 23:47:20,31000.0,31101.0,3110154.0,...,0.0,2021-10-14 23:47:20,2021-10-14 23:47:01,19,13.452632,23,0.005278,2021-10-14 23:47:00,2021-10-14 23:45:00,2021-10-14 23:00:00
4927890,4927890,105520211014225942879S00,1.0,186.0,4.778105e+10,2021-10-14 23:48:28,2021-10-14 23:49:00,31000.0,31101.0,3110154.0,...,0.0,2021-10-14 23:49:00,2021-10-14 23:48:28,32,25.425000,23,0.008889,2021-10-14 23:49:00,2021-10-14 23:45:00,2021-10-14 23:00:00
4927891,4927891,105520211014225942879S00,1.0,187.0,4.778106e+10,2021-10-14 23:49:01,2021-10-14 23:49:31,31000.0,31101.0,3110151.0,...,0.0,2021-10-14 23:49:31,2021-10-14 23:49:01,30,35.400000,23,0.008333,2021-10-14 23:49:00,2021-10-14 23:45:00,2021-10-14 23:00:00

In [4]:
df.columns

Index(['Unnamed: 0', 'obu_id', 'grp_id', 'seq', 'v_link_id', 'in_time',
       'out_time', 'sido_id_x', 'sigungu_id_x', 'emd_id_x', 'link_id',
       'in_time_dt', 'out_time_dt', 'EIT', 'v_from_link_id', 'v_to_link_id',
       'up_f_node', 'up_t_node', 'dw_f_node', 'dw_t_node', 'max_speed',
       'road_name', 'road_no', 'road_rank', 'link_type', 'pavement',
       'road_type', 'facil_name', 'tg_name', 'up_lanes', 'dw_lanes', 'lanes',
       'oneway', 'length', 'up_its_id', 'dw_its_id', 'sido_id_y',
       'sigungu_id_y', 'emd_id_y', 'up_v_link', 'dw_v_link', 'm_date', 'rc_id',
       'rc_name', 'rc_hist', 'rc_date', 'rc_length', 'old_link_i', 'source',
       'out_time2', 'in_time2', 'diff', 'speed', 'hour', 'diff2', 'out_time3',
       'EIT15', 'EIT60'],
      dtype='object')

In [6]:
link_id = df.groupby('link_id')['obu_id'].count()

In [12]:
link_id.to_csv('J:/링크경로한양도성/TM_P1_POLYGON_20211014_hanyang_all_link.csv')

In [14]:
link6 = pd.read_csv('D:/서울시신호/데이터/GIS/한양도성/한양도성진짜/lv6_link2.csv', encoding='cp949')
link6

,link_id,up_f_node,up_t_node,dw_f_node,dw_t_node,max_speed,road_name,road_no,road_rank,link_type,...,up_v_link,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source
0,478700031,221675,221676,0,0,0,NaN,0,104,32768,...,47870003101,0,20211231,NaN,NaN,420.0,NaN,NaN,478700031,2
1,478700040,221717,222809,222809,221717,10,동순라길,0,104,32768,...,47870004001,47870004002,20171231,NaN,NaN,NaN,NaN,NaN,0,0
2,478700041,221716,222809,222809,221716,10,동순라길,0,104,32768,...,47870004101,47870004102,20171231,NaN,NaN,NaN,NaN,NaN,0,0
3,478700152,221661,221662,221662,221661,0,사직로8길,0,104,32768,...,47870015201,47870015202,20211231,NaN,NaN,420.0,NaN,NaN,478700152,2
4,478700175,221663,221664,0,0,60,새문안로5길,0,104,32768,...,47870017501,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,900000170,900085,221715,0,0,30,NaN,0,104,516,...,90000017001,0,20181231,NaN,NaN,500.0,NaN,0.0,478749210,2
1568,900000171,563222,900085,0,0,30,NaN,0,104,516,...,90000017101,0,20181231,NaN,NaN,500.0,NaN,0.0,478749210,2
1569,928701529,1730120,222798,0,0,30,세종대로18길,0,104,32768,...,92870152901,0,20201231,NaN,NaN,420.0,NaN,NaN,478701529,2
1570,928706548,223049,1730123,1730123,223049,30,북촌로5길,0,104,32768,...,92870654801,92870654802,20201231,NaN,NaN,420.0,NaN,NaN,478706548,2
1571,478704587,223364,224072,224072,223364,60,마른내로,0,104,32768,...,47870458701,47870458702,20171231,NaN,NaN,NaN,NaN,NaN,0,0

In [15]:
link6['bool'] = 1

In [16]:
link6

,link_id,up_f_node,up_t_node,dw_f_node,dw_t_node,max_speed,road_name,road_no,road_rank,link_type,...,dw_v_link,m_date,rc_id,rc_name,rc_hist,rc_date,rc_length,old_link_i,source,bool
0,478700031,221675,221676,0,0,0,NaN,0,104,32768,...,0,20211231,NaN,NaN,420.0,NaN,NaN,478700031,2,1
1,478700040,221717,222809,222809,221717,10,동순라길,0,104,32768,...,47870004002,20171231,NaN,NaN,NaN,NaN,NaN,0,0,1
2,478700041,221716,222809,222809,221716,10,동순라길,0,104,32768,...,47870004102,20171231,NaN,NaN,NaN,NaN,NaN,0,0,1
3,478700152,221661,221662,221662,221661,0,사직로8길,0,104,32768,...,47870015202,20211231,NaN,NaN,420.0,NaN,NaN,478700152,2,1
4,478700175,221663,221664,0,0,60,새문안로5길,0,104,32768,...,0,20171231,NaN,NaN,NaN,NaN,NaN,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,900000170,900085,221715,0,0,30,NaN,0,104,516,...,0,20181231,NaN,NaN,500.0,NaN,0.0,478749210,2,1
1568,900000171,563222,900085,0,0,30,NaN,0,104,516,...,0,20181231,NaN,NaN,500.0,NaN,0.0,478749210,2,1
1569,928701529,1730120,222798,0,0,30,세종대로18길,0,104,32768,...,0,20201231,NaN,NaN,420.0,NaN,NaN,478701529,2,1
1570,928706548,223049,1730123,1730123,223049,30,북촌로5길,0,104,32768,...,92870654802,20201231,NaN,NaN,420.0,NaN,NaN,478706548,2,1
1571,478704587,223364,224072,224072,223364,60,마른내로,0,104,32768,...,47870458702,20171231,NaN,NaN,NaN,NaN,NaN,0,0,1

In [17]:
link6_join = pd.merge(left=df, right=link6[['link_id', 'bool']], how="left", on="link_id")
link6_join

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,out_time2,in_time2,diff,speed,hour,diff2,out_time3,EIT15,EIT60,bool
0,0,105020211014002115225S00,1.0,3.0,5.717441e+10,2021-10-14 00:21:28,2021-10-14 00:21:31,11000.0,11010.0,1101063.0,...,2021-10-14 00:21:31,2021-10-14 00:21:28,3,40.800000,0,0.000833,2021-10-14 00:21:00,2021-10-14 00:15:00,2021-10-14 00:00:00,1.0
1,1,105020211014002115225S00,1.0,7.0,5.717171e+10,2021-10-14 00:21:40,2021-10-14 00:21:52,11000.0,11010.0,1101067.0,...,2021-10-14 00:21:52,2021-10-14 00:21:40,12,35.700000,0,0.003333,2021-10-14 00:21:00,2021-10-14 00:15:00,2021-10-14 00:00:00,NaN
2,2,105020211014002115225S00,1.0,12.0,5.717352e+10,2021-10-14 00:23:31,2021-10-14 00:23:39,11000.0,11010.0,1101071.0,...,2021-10-14 00:23:39,2021-10-14 00:23:31,8,50.400000,0,0.002222,2021-10-14 00:23:00,2021-10-14 00:30:00,2021-10-14 00:00:00,NaN
3,3,105020211014002115225S00,1.0,17.0,5.717249e+10,2021-10-14 00:24:20,2021-10-14 00:24:36,11000.0,11080.0,1108061.0,...,2021-10-14 00:24:36,2021-10-14 00:24:20,16,51.975000,0,0.004444,2021-10-14 00:24:00,2021-10-14 00:30:00,2021-10-14 00:00:00,NaN
4,4,105020211014002115225S00,1.0,18.0,5.717249e+10,2021-10-14 00:24:37,2021-10-14 00:24:39,11000.0,11080.0,1108061.0,...,2021-10-14 00:24:39,2021-10-14 00:24:37,2,37.800000,0,0.000556,2021-10-14 00:24:00,2021-10-14 00:30:00,2021-10-14 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4928162,4927887,105520211014225942879S00,1.0,181.0,4.778415e+10,2021-10-14 23:44:59,2021-10-14 23:46:30,31000.0,31101.0,3110154.0,...,2021-10-14 23:46:30,2021-10-14 23:44:59,91,1.265934,23,0.025278,2021-10-14 23:46:00,2021-10-14 23:45:00,2021-10-14 23:00:00,NaN
4928163,4927888,105520211014225942879S00,1.0,182.0,4.778102e+10,2021-10-14 23:46:31,2021-10-14 23:46:54,31000.0,31101.0,3110154.0,...,2021-10-14 23:46:54,2021-10-14 23:46:31,23,36.469565,23,0.006389,2021-10-14 23:46:00,2021-10-14 23:45:00,2021-10-14 23:00:00,NaN
4928164,4927889,105520211014225942879S00,1.0,184.0,4.778419e+10,2021-10-14 23:47:01,2021-10-14 23:47:20,31000.0,31101.0,3110154.0,...,2021-10-14 23:47:20,2021-10-14 23:47:01,19,13.452632,23,0.005278,2021-10-14 23:47:00,2021-10-14 23:45:00,2021-10-14 23:00:00,NaN
4928165,4927890,105520211014225942879S00,1.0,186.0,4.778105e+10,2021-10-14 23:48:28,2021-10-14 23:49:00,31000.0,31101.0,3110154.0,...,2021-10-14 23:49:00,2021-10-14 23:48:28,32,25.425000,23,0.008889,2021-10-14 23:49:00,2021-10-14 23:45:00,2021-10-14 23:00:00,NaN
4928166,4927891,105520211014225942879S00,1.0,187.0,4.778106e+10,2021-10-14 23:49:01,2021-10-14 23:49:31,31000.0,31101.0,3110151.0,...,2021-10-14 23:49:31,2021-10-14 23:49:01,30,35.400000,23,0.008333,2021-10-14 23:49:00,2021-10-14 23:45:00,2021-10-14 23:00:00,NaN

In [18]:
link6_join_hy = link6_join[link6_join['bool']==1]
link6_join_hy

,Unnamed: 0,obu_id,grp_id,seq,v_link_id,in_time,out_time,sido_id_x,sigungu_id_x,emd_id_x,...,out_time2,in_time2,diff,speed,hour,diff2,out_time3,EIT15,EIT60,bool
0,0,105020211014002115225S00,1.0,3.0,5.717441e+10,2021-10-14 00:21:28,2021-10-14 00:21:31,11000.0,11010.0,1101063.0,...,2021-10-14 00:21:31,2021-10-14 00:21:28,3,40.80,0,0.000833,2021-10-14 00:21:00,2021-10-14 00:15:00,2021-10-14 00:00:00,1.0
71,71,105520211014004806382S00,1.0,3.0,4.787048e+10,2021-10-14 00:48:42,2021-10-14 00:48:50,11000.0,11010.0,1101061.0,...,2021-10-14 00:48:50,2021-10-14 00:48:42,8,26.55,0,0.002222,2021-10-14 00:48:00,2021-10-14 00:45:00,2021-10-14 00:00:00,1.0
72,72,105520211014004806382S00,1.0,7.0,4.787414e+10,2021-10-14 00:49:54,2021-10-14 00:50:06,11000.0,11010.0,1101061.0,...,2021-10-14 00:50:06,2021-10-14 00:49:54,12,39.00,0,0.003333,2021-10-14 00:50:00,2021-10-14 00:45:00,2021-10-14 00:00:00,1.0
73,73,105520211014004806382S00,1.0,8.0,4.787256e+10,2021-10-14 00:50:07,2021-10-14 00:50:15,11000.0,11010.0,1101054.0,...,2021-10-14 00:50:15,2021-10-14 00:50:07,8,46.35,0,0.002222,2021-10-14 00:50:00,2021-10-14 00:45:00,2021-10-14 00:00:00,1.0
74,74,105520211014004806382S00,1.0,11.0,4.787008e+10,2021-10-14 00:50:30,2021-10-14 00:50:32,11000.0,11010.0,1101054.0,...,2021-10-14 00:50:32,2021-10-14 00:50:30,2,12.60,0,0.000556,2021-10-14 00:50:00,2021-10-14 00:45:00,2021-10-14 00:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4928058,4927783,105520211014225942879S00,1.0,46.0,4.788493e+10,2021-10-14 23:15:32,2021-10-14 23:15:33,11000.0,11010.0,1101072.0,...,2021-10-14 23:15:33,2021-10-14 23:15:32,1,82.80,23,0.000278,2021-10-14 23:15:00,2021-10-14 23:15:00,2021-10-14 23:00:00,1.0
4928059,4927784,105520211014225942879S00,1.0,47.0,4.788480e+10,2021-10-14 23:15:34,2021-10-14 23:15:36,11000.0,11010.0,1101072.0,...,2021-10-14 23:15:36,2021-10-14 23:15:34,2,70.20,23,0.000556,2021-10-14 23:15:00,2021-10-14 23:15:00,2021-10-14 23:00:00,1.0
4928060,4927785,105520211014225942879S00,1.0,48.0,4.788642e+10,2021-10-14 23:15:37,2021-10-14 23:15:42,11000.0,11010.0,1101072.0,...,2021-10-14 23:15:42,2021-10-14 23:15:37,5,50.40,23,0.001389,2021-10-14 23:15:00,2021-10-14 23:15:00,2021-10-14 23:00:00,1.0
4928061,4927786,105520211014225942879S00,1.0,49.0,4.788642e+10,2021-10-14 23:15:43,2021-10-14 23:15:53,11000.0,11010.0,1101072.0,...,2021-10-14 23:15:53,2021-10-14 23:15:43,10,48.96,23,0.002778,2021-10-14 23:15:00,2021-10-14 23:15:00,2021-10-14 23:00:00,1.0
4928062,4927787,105520211014225942879S00,1.0,50.0,4.788619e+10,2021-10-14 23:15:54,2021-10-14 23:15:56,11000.0,11010.0,1101072.0,...,2021-10-14 23:15:56,2021-10-14 23:15:54,2,66.60,23,0.000556,2021-10-14 23:15:00,2021-10-14 23:15:00,2021-10-14 23:00:00,1.0

In [19]:
link6_join_hy.to_csv('TM_P1_POLYGON_20211014_hanyang_only_EIT_5_15_60_fromtolink_6leveljoin.csv')